<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :fare %>
    <%= form.text_field :fare %>
  </div>

  <div class="field">
    <%= form.label :dept_city %>
    <%= form.text_field :dept_city %>
  </div>

  <div class="field">
    <%= form.label :arrival_city %>
    <%= form.text_field :arrival_city %>
  </div>

  <div class="field">
    <%= form.label :no_passengers %>
    <%= form.check_box :no_passengers %>
  </div>

  <div class="field">
    <%= form.label :dept_date %>
    <%= form.date_select :dept_date %>
  </div>

  <div class="field">
    <%= form.label :dept_time %>
    <%= form.datetime_select :dept_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
